/* Styles généraux */

/* Adaptabilité pour les petits écrans */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 10px;
    }

    #note-checkboxes label {
        background-color: var(--background-color);
        border: 1px solid var(--border-color);

        .key {
            width: 45px;
            height: 45px;
            border: 2px solid #999;
            border-radius: 50%;
            /* Touches rondes */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9em;
            font-weight: bold;
            transition: all 0.2s ease;
            background: white;
            margin: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
        }

        /* Style pour la touche principale du layout C */
        .layout-c .key[data-note="C"]::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle at center, #999 1px, transparent 1px) 0 0 / 8px 8px;
            opacity: 0.2;
        }

        /* Style pour la touche principale du layout B */
        .layout-b .key[data-note="B"]::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle at center, #999 1px, transparent 1px) 0 0 / 8px 8px;
            opacity: 0.2;
        }

        /* Style pour la touche principale du layout G-Griff */
        .layout-g-griff .key[data-note="G"]::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle at center, #999 1px, transparent 1px) 0 0 / 8px 8px;
            opacity: 0.2;
        }

        /* Style pour la touche principale du layout Janko */
        .layout-janko .key[data-note="C"]::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle at center, #999 1px, transparent 1px) 0 0 / 8px 8px;
            opacity: 0.8;
            width: 3vw;
            padding: 8px 12px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            /* Centrer le contenu */
            position: relative;
            /* Pour le positionnement absolu de la checkbox */
        }
    }

    /* Style pour le texte */
    #note-checkboxes label span {
        z-index: 1;
        /* Permet de cliquer à travers */
        pointer-events: none;
    }


    #note-checkboxes {
        /* Réduit l'espace entre les checkboxes sur mobile */
        gap: 5px;
    }

    #note-checkboxes input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        /* Cache visuellement la checkbox mais garde la fonctionnalité */
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
    }
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    max-width: 95vw;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}



/* Styles pour les sections */
.title {
    border: var(--border-color), 2px solid;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
    color: var(--primary-color);
    margin-top: 0;
}

/* Styles des "cartes" */
.search-area,
.chord-list,
.list-chord-details,
.list-chords-details-container,
.note-selector,
.chords-details,
.title,
.play-time-duration-label,
.music-score-container {
    background: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-area,
.chord-list,
.list-chord-details,
.list-chords-details-container,
.note-selector,
.chords-details {
    padding: 20px;
}

.ns-automatic-update-container {
    margin-top: 20px;
    width: 100%;
}

.lcd-flex,
.ns-flex {
    width: 100%;
    display: flex;
    padding: 1vw 1vw 1vw 1vw;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */

}

.play-time-duration-label {
    display: flex-inline;
    vertical-align: text-bottom;
    justify-items: center;
    margin: 30px 0vw 30px 0vw;
    font-weight: bold;
    border: 1px solid var(--border-color);
    padding: 1vw;
    border-radius: 0.25vw;
}

/*Input durée*/
.play-time-duration {
    width: 5vw;
    margin-top: 10px;
}


.volume-slider {
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}


/* Styles des formulaires et contrôles */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 8px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: var(--hover-color);
}

/* Styles pour les listes d'accords */
.collapsible-list {
    max-height: 25vh;
    overflow: auto;
    transition: max-height 1.75s ease-in-out;
}

.collapsible-list.expanded {
    max-height: 300vh;
}

/* Style de base pour la liste */
#chord-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 5px;
    /* Affichage par défaut sur les grands écrans */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

#chord-list li {
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #f9f9f9;
}

#chord-list li:hover {
    background-color: #e9ecef;
}

/* Styles pour les contrôles audio et les détails d'accords */
.lcd-controls,
.ns-chords-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

input[type="range"] {
    flex-grow: 1;
}

/* Styles pour la sélection de notes générée par JS */
#note-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

#note-checkboxes label {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    height: 3vh;
    width: 3vw;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

#note-checkboxes label.active {
    background-color: var(--secondary-color) !important;
    color: rgb(0, 0, 0);
    /* ou white, selon la couleur de votre secondary-color */
    font-weight: bold;
}


#note-checkboxes input[type="checkbox"] {
    display: true;
}


#note-checkboxes input[type="checkbox"]:checked+span {
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* background-color: var(--secondary-color) !important; */
}

/* Nouveau style pour les labels avec la classe .active */


#note-checkboxes label:hover {
    background-color: #e9ecef;
}

/* Styles pour le clavier d'accordéon */
.accordion-keyboard {
    margin-top: 20px;
    padding: 20px;
    background: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.keyboard-container {
    overflow-x: auto;
    margin-top: 15px;
}


/* Styles de base pour tous les layouts */
.layout-c,
.layout-b,
.layout-g-griff,
.layout-janko {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 8px;
    width: fit-content;
    min-width: 100%;
    position: relative;
    justify-content: center;
}

/* Ajustements spécifiques pour chaque layout */
.layout-c .key-row:nth-child(1),
.layout-b .key-row:nth-child(1),
.layout-g-griff .key-row:nth-child(1),
.layout-janko .key-row:nth-child(1) {
    transform: translateX(-57px);
}

.layout-c .key-row:nth-child(2),
.layout-b .key-row:nth-child(2),
.layout-g-griff .key-row:nth-child(2),
.layout-janko .key-row:nth-child(2) {
    transform: translateX(-28.5px);
}

/* Ajustement spécifique pour le layout Janko */
.layout-janko {
    margin-top: 20px; /* Ajoute de l'espace en haut pour éviter la coupure */
    margin-bottom: 20px; /* Ajoute de l'espace en bas */
    padding-top: 10px; /* Espace interne supplémentaire */
    min-height: 170px; /* Hauteur minimale pour s'assurer que tout est visible */
}


.key-row {
    display: flex;
    gap: 4px;
    position: relative;
}

/* Décalage des rangées */
.key-row:nth-child(1) {
    transform: translateX(-57px)
        /* La moitié de la largeur d'une touche (45/1.5) + 1px pour le gap */
}

.key-row:nth-child(2) {
    transform: translateX(-28.5px);
    /* Un quart de la largeur d'une touche (45/2.5x) + 0.5px pour le gap */
}

.key {
    width: 45px;
    height: 45px;
    border: 2px solid #999;
    border-radius: 50%;
    /* Touches rondes */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    transition: all 0.2s ease;
    background: white;
    margin: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.key.black {
    background: var(--accordion-altered-key-color);
    color: white;
    border-color: color-mix(in srgb, var(--accordion-altered-key-color) 80%, white);
}

/* Styles pour le clavier principal (milieu) */
/* Styles pour le clavier principal (milieu) - Notes principales */
.keyboard-container:nth-child(2) .key.in-chord.main-note-in-chord:not(.black) {
    background: var(--accordion-key-main-color-in-chord);
    color: black;
    border-color: color-mix(in srgb, var(--accordion-key-main-color-in-chord) 80%, black);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.keyboard-container:nth-child(2) .key.black.in-chord.main-note-in-chord {
    background: var(--accordion-altered-key-main-color-in-chord);
    color: white;
    border-color: color-mix(in srgb, var(--accordion-altered-key-main-color-in-chord) 80%, white);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Styles pour le clavier principal (milieu) - Notes adjacentes */
.keyboard-container:nth-child(2) .key.in-chord:not(.main-note-in-chord):not(.black) {
    background: var(--accordion-key-color-in-chord);
    color: black;
    border-color: color-mix(in srgb, var(--accordion-key-color-in-chord) 80%, black);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.keyboard-container:nth-child(2) .key.black.in-chord:not(.main-note-in-chord) {
    background: var(--accordion-altered-key-color-in-chord);
    color: white;
    border-color: color-mix(in srgb, var(--accordion-altered-key-color-in-chord) 80%, white);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Styles pour les claviers adjacents */
.keyboard-container:not(:nth-child(2)) .key.in-chord:not(.black) {
    background: var(--accordion-key-color-in-chord);
    color: black;
    border-color: color-mix(in srgb, var(--accordion-key-color-in-chord) 80%, black);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.keyboard-container:not(:nth-child(2)) .key.black.in-chord {
    background: var(--accordion-altered-key-color-in-chord);
    color: white;
    border-color: color-mix(in srgb, var(--accordion-altered-key-color-in-chord) 80%, white);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.keyboard-controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.keyboard-controls select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: white;
    cursor: pointer;
}

/* Surcharge des styles pour les boutons et contrôles du sélecteur de notes */
.note-selector .chords-details {
    margin-top: 20px;
}

.note-selector p {
    margin-top: 0;
}

.note-selector button {
    margin-right: 10px;
}

/* Styles pour les détails d'accord */
.chords-details p {
    margin: 5px 0;
}




.card {
    position: relative;
    /* Indispensable pour positionner les poignées */
    border: 1px solid hsla(0, 0%, 100%, 0);

}

.resizer {
    position: absolute;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    /* Curseur de redimensionnement Est-Ouest */
    z-index: 10;
}

#right-resizer {
    right: 0;
    top: 0;
}

/* Style pour les touches principales avec motif de points */
.key.main-key::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(circle at center, #999 1.5px, transparent 1.5px),
        radial-gradient(circle at center, #999 1.5px, transparent 1.5px);
    background-size: 8px 8px;
    background-position: 0 0, 4px 4px;
    opacity: 0.5;
    pointer-events: none;
}

.key.main-key.black::before {
    background-image:
        radial-gradient(circle at center, #fff 1.5px, transparent 1.5px),
        radial-gradient(circle at center, #fff 1.5px, transparent 1.5px);
}

/* Style pour les touches principales dans un accord */
.key.in-chord.main-note-in-chord:not(.black) {
    background: var(--accordion-key-main-color-in-chord) !important;
    color: black !important;
    border-color: color-mix(in srgb, var(--accordion-key-main-color-in-chord) 80%, black) !important;
}

.key.in-chord.main-note-in-chord.black {
    background: var(--accordion-altered-key-main-color-in-chord) !important;
    color: white !important;
    border-color: color-mix(in srgb, var(--accordion-altered-key-main-color-in-chord) 80%, white) !important;
}