.music-score-container {
    margin-top: 2vh;
    min-width: 20%;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
 
}

.vf-canvas {
    width: 100%;
    margin: 0 auto;;
    margin-top: -30px;
    max-width: fit-content;
    display: block;
}
